@import "./variables";
@import "./mixins";

.btn {
  background: $primaryColor;
}
.nooo {
  display: none;
}

@import "./navBar";
@import "./heroLanding";
@import "./button";
.page-content {
  margin-left: 300px;
}
