.nooo {
  display: none;
}

.side-nav.side-nav--secondary {
  left: 0;
  padding: 0;
  background-color: #222222;
  background-image: none !important;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 99999;
  top: 0;
  /* left: -320px; */
  overflow-x: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  border: 0 none;
  border-radius: 0;
  background-position: center;
}

.hero-landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-landing__content-wrapper {
  text-align: center;
  position: absolute;
  z-index: 100;
}
.hero-landing__content-wrapper h2,
.hero-landing__content-wrapper h4 {
  color: #fff;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8313725490196079);
  width: 100%;
  height: 100vh;
}
.hero-landing .text-primary {
  color: #ffd300 !important;
}
.hero-landing .btn {
  background-color: #ffd300;
  color: #222222;
}
.page-content {
  margin-left: 300px;
}

/* Desktop Logo Styling */
.side-nav__logo-wrapper {
  width: 100%;
  height: auto;
  padding: 0 20px;
}
.side-nav__logo-wrapper a {
  text-align: center;
  display: block;
}
.side-nav__logo-wrapper a img {
  max-width: 100%;
  width: auto;
  height: auto;
}
